# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\hocKiemThuCoThuy_FPOLY\deMau1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
